::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
}

::-webkit-scrollbar-track {
  background: $gray-700;
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

#app-footer {
  margin-top: auto;
}

.img-wrap {
  background-color: $gray-800;
}

.jumbotron {
  background-color: $body-secondary-bg-dark;
}
